/* =============
    Header
============= */
header{
   background-color: darkseagreen;
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". header .";

    >div{
        grid-area: header ;
    }
    }
